
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.lokaler {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.lokale {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #e0f7fa;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;

}
